.center--center {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  animation-name: spotlight-in;
  animation-duration: 0.3s;
  backdrop-filter: blur(10px);
}

input {
  font-size: 30px;
  font-weight: lighter;
  border: none;
  background: none;
  width: 350px;
}

.input-search__container {
  background: rgba(4, 22, 43, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
}

.search-coincidences__container {
  margin-top: 20px;
}

.search-coincidence__item {
  font-size: 15px;
  display: block;
  padding: 1px 10px;
}

.search-coincidence__item:hover {
  background: #2a6f9970;
  border-radius: 2px;
  cursor: default;
}

@keyframes spotlight-in {
  from {
    backdrop-filter: blur(1px);
  }
  to {
    backdrop-filter: blur(10px);
  }
}